<div class="container">
  <div class="row">
    <div class="col-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5r7xXu-oGKqkHo6FVdtJ0OLJj0m4kM2OQlyPS0FTF&s"
        style="width: 100px; height: 100px;">
    </div>
    <div class="col-4 mt-5 ps-0 ms-0">
      <h4 style="font-family:'Times New Roman', Times, serif;"> Parking Ticket Software</h4>
    </div>

  </div>

  <!-- Form -->
  <div class="row">




    <div class="container">
      <div class="row text-center pt-5">
        <div class="col-6 ">
          <h5 style="color: rgb(65, 65, 236);">New Ticket</h5>
        </div>
        <div class="col-6">
          <h5 style="color: rgb(65, 65, 236);"> Parked Vehical </h5>

        </div>
      </div>
    </div>


    <div class="col-6">
      <div class="card">

        <div class="row mt-5">
          <div class="col-12">

            <div class="row">
              <div class="col-3">
                <button class="btn" [ngClass]="carObj.vehicle_type=='Car'?'selectedVehical':''">
                  <img (click)="assignVehicalType('Car')"
                    src="https://img.freepik.com/free-vector/modern-blue-urban-adventure-suv-vehicle-illustration_1344-205.jpg?w=740&t=st=1684607090~exp=1684607690~hmac=f857a55077c798d74cb728d82f1726ae995e5ecd8bedafbf0579448a3316a92d"
                    style="width: 110px; height: 110px;">
                </button>
              </div>
              <div class="col-3" [ngClass]="carObj.vehicle_type=='Auto'?'selectedVehical':''">
                <button class="btn">
                  <img (click)="assignVehicalType('Auto')"
                    src="https://img.freepik.com/premium-vector/three-wheeler-yellow-auto-rickshaw_679005-7.jpg"
                    style="width: 100px; height: 100px;">
                </button>
              </div>
              <div class="col-3" [ngClass]="carObj.vehicle_type=='Bike'?'selectedVehical':''">
                <button class="btn">
                  <img (click)="assignVehicalType('Bike')"
                    src="https://img.freepik.com/premium-vector/man-riding-scooter-white-background_1308-49062.jpg?"
                    style="width: 90px; height: 90px;">
                </button>
              </div>
              <div class="col-3">
                <button class="btn" [ngClass]="carObj.vehicle_type=='Bus'?'selectedVehical':''">
                  <img (click)="assignVehicalType('Bus')"
                    src="https://img.freepik.com/premium-vector/red-bus-illustration_173474-60.jpg?"
                    style="width: 90px; height: 90px;">
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2 py-2">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Licence Plate" [(ngModel)]="carObj.license_plate">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="carObj.mobileNo">
          </div>
        </div>


        <div class="row mx-4 py-4">
          <h4>
            Duration & Charges:
          </h4>

        </div>
        <div class="row">


          <div class="col-3">
            <button class="btn" (click)="setAmount(10)">
              <div class="card" [ngClass]="carObj.ticket_amount == '10'?'bg-primary':''">
                <span>
                  <h5 class="mx-2 my-2"> 1 hr </h5>
                  <p class="mx-2 my-2">RS:10/-</p>
                </span>

              </div>
            </button>
          </div>

          <div class="col-3">
            <button class="btn" (click)="setAmount(20)">
              <div class="card" [ngClass]="carObj.ticket_amount == '20'?'bg-primary':''">
                <span>
                  <h5 class="mx-2 my-2"> 2 hr </h5>
                  <p class="mx-2 my-2">RS:20/-</p>
                </span>

              </div>
            </button>
          </div>

          <div class="col-3">
            <button class="btn" (click)="setAmount(50)">
              <div class="card" [ngClass]="carObj.ticket_amount == '50'?'bg-primary':''">
                <span>
                  <h5 class="mx-2 my-2"> 5 hr </h5>
                  <p class="mx-2 my-2">RS:50/-</p>
                </span>

              </div>
            </button>
          </div>

          <div class="col-3">
            <button class="btn" (click)="setAmount(100)">
              <div class="card" [ngClass]="carObj.ticket_amount == '100'?'bg-primary':''">
                <span>
                  <h5 class="mx-2 my-2"> 1 day </h5>
                  <p class="mx-2 my-2">RS:100/-</p>
                </span>

              </div>
            </button>
          </div>
        </div>
        <div class="row mx-2 my-2">
          <div>
            <button class="btn btn-sm btn-primary" (click)="onReset()">Reset</button>
            <span style="float: right;">
              <button class="btn btn-sm btn-primary me-2" (click)="saveCar()">Create Ticket</button>


            </span>
          </div>





        </div>
      </div>
    </div>


    <div class="col-6">


      <div class="row">
        <div class="card-body table-secondary">
          <table class="table table-bordered  table-striped" style="width:100%">
            <thead class="">
              <tr class="table  table table-bordered table-striped ">
                <th>Sr No</th>
                <th>Vehical name</th>
                <th> Vehical Number</th>
                <th>Contact </th>
                <th>Charges</th>
                <th>Time</th>




              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let item of carArray; let sr=index">
                <td>{{sr+1}}</td>
                <td>{{item.vehicle_type}}</td>
                <td>{{item.license_plate}}</td>

                <td>{{item.mobileNo}}</td>
                <td>{{item.ticket_amount}}</td>
                <td>
                  <button class="btn btn-sm btn-success" *ngIf="item.out_time == null"
                    (click)="markOut(item.license_plate)">Mark Out</button>
                  <span *ngIf="item.out_time !== null"> {{item.out_time| date : "dd-MM-yy"}} {{item.out_time|
                    date:"hh:mm"}} </span>
                </td>



              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
